/* THIS IS FLEX-SHRINK PROPERTY IN WORK */

#main_shrink {
  width: 800px;
  height: 200px;
  border: 1px solid transparent;
  display: flex;
}

#main_shrink div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  border: 3px solid white;
  border-radius: 30%;
}

#main_shrink div:nth-of-type(3) {
  flex-shrink: 2;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

/* THIS IS FLEX-GROW PROPERTY IN WORK */

h2 {
  padding-top: 10px;
}

#main_grow {
  width: 800px;
  height: 200px;
  border: 1px solid transparent;
  display: flex;
}

#main_grow div {
  border: 3px solid white;
  border-radius: 30%;
}

#main_grow div:nth-of-type(1) {
  flex-grow: 1;
}
#main_grow div:nth-of-type(2) {
  flex-grow: 1;
}
#main_grow div:nth-of-type(3) {
  flex-grow: 3;
}
#main_grow div:nth-of-type(4) {
  flex-grow: 1;
}
#main_grow div:nth-of-type(5) {
  flex-grow: 1;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
