/* THIS IS FLEX-SHRINK PROPERTY IN WORK */

/* This is the mom container */

#flex-container_shrink {
  width: 800px;
  height: 200px;
  border: 1px solid transparent;
  display: flex;
}

#flex-container_shrink div {
  flex-basis: 200px;
  border: 3px solid white;
}

/* The :nth-of-type() CSS pseudo-class matches elements based on their position among siblings of the same type (tag name). */

#flex-container_shrink div:nth-of-type(3) {
  flex-shrink: 2;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

/* THIS IS FLEX-GROW PROPERTY IN WORK */

/* This is the mom container */

#flex-container_grow {
  width: 800px;
  height: 200px;
  border: 1px solid transparent;
  display: flex;
}

#flex-container_grow div {
  border: 3px solid white;
  border-radius: 30%;
}

/* The :nth-of-type() CSS pseudo-class matches elements based on their position among siblings of the same type (tag name). */

#flex-container_grow div:nth-of-type(1) {
  flex-grow: 1;
}
#flex-container_grow div:nth-of-type(2) {
  flex-grow: 1;
}
#flex-container_grow div:nth-of-type(3) {
  flex-grow: 1.5;
}
#flex-container_grow div:nth-of-type(4) {
  flex-grow: 1;
}
#flex-container_grow div:nth-of-type(5) {
  flex-grow: 1;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.rules {
  padding-top: 20px;
  font-size: large;
}

ul {
  list-style: none;
}

h2 {
  padding-top: 10px;
}
